.list-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list-para {
  color: #9aa5b1;
  font-family: Roboto;
}
